/*welcome*/

h1 {
    font-size: 60px !important;
    font-weight: bold !important
}

.welcome {
    height: 350px;
    width: 100%;
    background-color: var(--bg-primary) !important
}

.welcome {
    text-align: center;
    padding-top: 100px;
}

.welcome h1 {
    color: var(--text-white) !important
}

.welcome p span {
    color: var(--text-secondary) !important
}

.welcome {
    padding-bottom: 30px !important;
}



/*cursuri*/

h2 {
    text-align: center;

}

.paragraf {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.imagine {
    width: 80px;
    height: auto;
}

.imagine1 {
    width: 15px;
    height: auto;
}

.btn {
    background-color: var(--button-color) !important;
}

.card-text {
    padding-top: 10px;
}


.card-body {
    text-align: left !important
}

.courses {
    padding-bottom: 40px;
    padding-top: 0px;
}

.col {
    padding-bottom: 177px;
}